

<div class="container">
  <h1 class="text-center">Pokemon's profile</h1>
  <a routerLink="/all-pokemons" class="btn btn-info">Back</a>
  <br>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">#{{ pokemon.id }} {{ pokemon.name }}</h2>
      <div class="row">
        <div class="col-3"><b>Weight: </b>{{ pokemon.weight }}</div>
        <div class="col-3"><b>Height: </b>{{ pokemon.height }}</div>
        <div class="col-6"><b>Base experience: </b>{{ pokemon.base_experience }}</div>
      </div>
      <br>
      <h4>Abilities ({{ pokemon.abilities.length }})</h4>
      <ul class="list-group">
        <li *ngFor="let item of pokemon.abilities" class="list-group-item">
          {{ item.ability.name }}
        </li>
      </ul>
      <br>
      <h4>Encounter areas ({{ areas.length }})</h4>
      <div *ngIf="loadingAreas" class="text-center">
        <b>Loading...</b>
      </div>
      <ul *ngIf="!loadingAreas" class="list-group vscroll">
        <li *ngFor="let item of areas" class="list-group-item">
          {{ item.location_area.name }}
        </li>
      </ul>
    </div>
  </div>
</div>