<div class="container">
  <h2 class="text-center">Contacts manager</h2>

  <p>
    <button class="btn btn-primary" id="open-new-contact-panel" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-plus"></i>
      Add new contact
    </button>
  </p>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="col-6">
          <label for="">Name</label>
          <input type="text" [(ngModel)]="newContactName" class="form-control">
        </div>
        <div class="col-6">
          <label for="">Phone</label>
          <input type="text" [(ngModel)]="newContactPhone" maxlength="12" class="form-control">
        </div>
      </div>
      <div class="text-right mt-2">
        <button class="btn btn-success" (click)="validateNewContact()">Save</button>
      </div>
    </div>
    <br>
  </div>
  
  <app-contact-card 
    *ngFor="let contact of contacts" 
    (deletedContact)="removeContactFromList( contact )"
    [contact]="contact">    
  </app-contact-card>

</div>